<!-- <h3 style="text-align: center;" *ngIf="products; else: nothing"> {{title}} </h3> -->
<app-category></app-category>
<div class="form-group">
    <input type="email" class="form-control" id="searchToProduct" placeholder="Arancak ürün..." 
    [(ngModel)] = "filterText">
    <small *ngIf="filterText" class="form-text text-muted"><strong> '{{filterText}}' ürünü için arama sonucu : </strong></small>
  </div>

<div class="row">
    <ng-template #nothing>
        <div class="alert alert-primary" role="alert">
            Bu kategoride uygun ürün bulunamadı...
        </div>
    </ng-template>
    <div *ngFor="let item of products | productFilter : filterText" class="productbox">
        <img class="card-img-top" [src] ="item.imageUrl" alt="...">
        <div class="card-body">
          <h5 class="card-title"> {{item.name}} {{item.price | currency:'TL' : '₺' : '1.2-2'}}</h5>
          <p class="card-text"> {{item.description}} </p>
          <a (click)="addToCart(item)" class="btn btn-primary">Sepete Ekle</a>
        </div>
    </div>
</div>
  